
<!-- TODO remove this loggged_in? her for testing -->
<% if logged_in? %>
  <h1>your logged in</h1>
<% end %>
<div class="user-container">
  <h2>Temp register</h2>
  <div id="register">
    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %><br>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %><br>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
      <%= f.submit %>
    <% end %>
  </div>

  <h2>Temp login</h2>
  <div id="login">
    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
    <%= form_for :session, url: '/sessions' do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<!-- TODO this is a temp log out link to test controller func -->
<h2>temp log out</h2>
<%= link_to 'log out', session_path(:user_id), method: :delete %>


