<h1>Past to Present Pitch Days</h1>
<% if admin? %>
	<%= link_to "Add a new day", new_day_path %>
<% end %>

<ul>
  <% @days.each do |day| %>
    <li class="proj">
      <span><%= day.cohort_name %></span><br>
      <span><%= day.date %></span><br>
      <span><%= day.round_status %></span><br>
      <%= link_to image_tag(day.pic_url), day_path(day) %>
    </li>
  <% end %>
</ul>
