<% if @pitches.empty? %>
  <%= link_to "Add the First Pitch!", new_pitch_path %>
<% elsif @day.round_status == 'open' %>
  <ul>
    <% @pitches.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
      </li>
    <% end %>
  </ul>
<% elsif @day.round_status == 'round_1' %>
  <ul>
    <form class="vote-form" action="<%= day_votes_path(@day) %>" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <% @pitches.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
          <% @pitches.count.times do |i| %>
            <span>

              <input name="<%= pitch.id %>" type="radio" value="<%= i %>" id="<%= pitch.id %>-<%= i %>" />
              <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
            </span>
          <% end %>
      </li>
    <% end %>
    <input class="mass-submit"type="submit" value="Submit">
    </form>
  </ul>

<% elsif @day.round_status == 'round_2' %>
  <% winners = round_1_winners(@pitches, @day) %>
  <ul>
    <% winners.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
        <form class="vote-form" action="<%= pitch_votes_path(pitch) %>" method="POST">
          <% winners.count.times do |i| %>
            <span>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input name="<%= pitch.id %>" type="radio" id="<%= pitch.id %>-<%= i %>" />
              <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
            </span>
          <% end %>
        </form>
      </li>
    <% end %>
  </ul>
  <input class="mass-submit" type="submit" value="Submit" onclick="submitForms()">
<% else %>
  <% champs = round_2_winners(round_1_winners(@pitches, @day), @day) %>
  <ul>
    <% champs.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
      </li>
    <% end %>
  </ul>
<% end %>
