<% if admin? && @day.round_status != "closed" %>
<!-- url: "/days/#{@day.id}/edit" -->
  <p>Change  Day Status Round Status</p>
  <%= form_for :day, url: day_path(@day.id), method: :patch do |f|%>
    <%= f.submit "Advance to next round" %>
  <% end %>
<% end %>

<div class="row">
  <div class="col s12 center-align">
    <% if @pitches.empty? %>
        <h3>Please add a pitch</h3>
    <% elsif @day.round_status == 'open' %>
      <ul class="pitch-list">
        <% @pitches.each do |pitch| %>
            <%= render partial: '/pitches/pitch', locals: {pitch: pitch} %>
        <% end %>
      </ul>
    <% elsif @day.round_status == 'round_1' %>
      <ul class="pitch-list">
        <form class="vote-form" action="<%= day_votes_path(@day) %>" method="POST">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <% @pitches.each do |pitch| %>
            <%= render partial: '/pitches/pitch', locals: {pitch: pitch} %>
            <li>
              <span>- Rank -</span><br>
              <% @pitches.count.times do |i| %>
                <span>
                  <input name="row-<%= pitch.id %>" type="radio" value="<%= i %>" id="<%= pitch.id %>-<%= i %>" data-col="<%= i %>" />
                  <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
                </span>
              <% end %>
            </li>
        <% end %>
        <input class="mass-submit"type="submit" value="Submit">
        </form>
      </ul>
    <% elsif @day.round_status == 'round_2' %>
      <% winners = round_1_winners(@pitches, @day) %>
      <ul class="pitch-list">
        <form class="vote-form" action="<%= day_votes_path(@day) %>" method="POST">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <% winners.each do |pitch| %>
            <%= render partial: '/pitches/pitch', locals: {pitch: pitch} %>
            <li>
              <span>- Rank -</span><br>
              <% winners.count.times do |i| %>
                <span>
                  <input name="row-<%= pitch.id %>" type="radio" value="<%= i %>" id="<%= pitch.id %>-<%= i %>" data-col="<%= i %>" />
                  <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
                </span>
              <% end %>
            </li>
        <% end %>
        <input class="mass-submit"type="submit" value="Submit">
        </form>
      </ul>
    <% else %>
        <% champs = round_2_winners(round_1_winners(@pitches, @day), @day) %>
          <ul>
            <% champs.each do |pitch| %>
                <%= render partial: '/pitches/pitch', locals: {pitch: pitch} %>
                <li>
                  <span>- Rank -</span><br>
                </li>
            <% end %>
          </ul>
      <% end %>
    <div class="row">
      <div class="center-align">
        <a class="waves-effect waves-light btn-large center" id="show_pitch_form_button">Make a Pitch</a>
      </div>
    </div>
    <div class="row">
      <div class="center-align">
        <%= render partial: '/pitches/add_pitch', locals: {day: @day, pitch: @pitch} %>
      </div>
    </div>
  </div>
</div>
