<% if @pitches.empty? %>
  <%= link_to "Add the First Pitch!", new_pitch_path %>
<% elsif @day.round_status == 'open' %>
  <ul>
    <% @pitches.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
      </li>
    <% end %>
  </ul>
<% elsif @day.round_status == 'round_1' %>
  <ul>
    <% @pitches.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
        <form action="/" method="POST">
          <% @pitches.count.times do |i| %>
            <span>
              <input name="<%= pitch.id %>" type="radio" id="<%= pitch.id %>-<%= i %>" />
              <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
            </span>
          <% end %>
        </form>
      </li>
    <% end %>
  </ul>
<% elsif @day.round_status == 'round_2' %>
  <% winners = round_1_winners(@pitches, @day) %>
  <ul>
    <% winners.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
        <form action="/" method="POST">
          <% @pitches.count.times do |i| %>
            <span>
              <input name="<%= pitch.id %>" type="radio" id="<%= pitch.id %>-<%= i %>" />
              <label for="<%= pitch.id %>-<%= i %>"> <%= i + 1 %> </label>
            </span>
          <% end %>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <% champs = round_2_winners(round_1_winners(@pitches, @day), @day) %>
  <ul>
    <% champs.each do |pitch| %>
      <li class="proj">
        <%= pitch.title %><br>
        - <%= pitch.blurb %> -<br>
        <span>- Rank -</span><br>
      </li>
    <% end %>
  </ul>
<% end %>
