<div class="row">
  <div class="col s12 center-align">
    <% if @pitches.empty? %>
        <h3>Please add a pitch</h3>
    <% elsif @day.round_status == 'open' %>
      <ul>
        <% @pitches.each do |pitch| %>
          <li class="proj">
            <%= pitch.title %><br>
            - <%= pitch.blurb %> -<br>
          </li>
        <% end %>
      </ul>
    <% elsif @day.round_status == 'round_1' %>
      <ul>
        <% @pitches.each do |pitch| %>
          <li class="proj">
            <%= pitch.title %><br>
            - <%= pitch.blurb %> -<br>
            <span>- Rank -</span><br>
            <%= form_for pitch, url: votes_path(pitch) do |f| %>
              <% @pitches.count.times do |i| %>
                <%= radio_button_tag(:vote, "vote#{i + 1}") %>
                <%= label_tag(:vote, "#{i + 1}") %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% elsif @day.round_status == 'round_2' %>
      <p><%= @pitches.round_1_winners %></p>
    <% else %>
    <% end %>
    <div class="row">
      <div class="center-align">
        <a class="waves-effect waves-light btn-large center" id="show_pitch_form">Make a Pitch</a>
      </div>
    </div>
    <div class="row" id="add_pitch_form_container">
      <div class="center-align">
        <%= render partial: '/pitches/add_pitch', locals: {day: @day} %>
      </div>
    </div>
  </div>
</div>